* ,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --font-size: 16px;
  --font-weight: 500;
  --transtion-standard: 0.25s ease;

  --border-rs: 4px;

  --font-clr-one: #1c1c1c;
  --font-clr-two: rgba(60, 60, 60, 0.33);
  --border-clr: rgba(60, 60, 60, 0.12);
  --bg-clr: #fff;

  --planet-clr: #1c1c1c;
  --star-clr: #1c1c1c;
}

.dark{
  --font-clr-one: #fff;
  --font-clr-two: #ffffffb6;
  --border-clr: rgba(255, 255, 255, 0.12);
  --bg-clr: #1a1a1a;
  --planet-clr: #fff;
  --star-clr: #ffd966;

  transition: all 1s ease-out;
}